@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');



:root {
  
  --heading-font: 'Dosis', sans-serif;
  --paragraph-font: 'Balsamiq Sans', cursive;
  --links-font: 'Comic Sans MS', 'Comic Sans', cursive
}


h2 {
  background-color: #f9dc5c;
  color: darkblue;
  font-family: var(--heading-font);
  font-size: 3em;
  font-weight: 700;
  line-height: 2em;
  margin: 0 0 -10px 0;
  text-align: center;
}
p {
  font-family: var(--paragraph-font);
  text-align: center;
  
}


#content {
  max-width: 960px;
  margin: 0 auto;
  padding: 1em;
  
}
.home-paragraph-3 {
  text-align: center; 
}
body {
  background-color: #00a5cf;
}
nav a {
  color: #08415c;
  font-size: 1.1em;
}
main {
  background-color: lightblue;
  margin: 10px;
}

a, .copy-right {
  font-family: var(--links-font);
}

.banner-box img {
  width: 100%;
}

/* main content */

.home-grid {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%
}  