@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');



:root {
  
  --heading-font: 'Dosis', sans-serif;
  --paragraph-font: 'Balsamiq Sans', cursive;
  --links-font: 'Comic Sans MS', 'Comic Sans', cursive
}


h2 {
  background-color: #f9dc5c;
  color: darkblue;
  font-family: var(--heading-font);
  font-size: 3em;
  font-weight: 700;
  line-height: 2em;
  margin: 10px 0 10px 0;
  text-align: center;
}

h3 {
  color: darkblue;
  font-family: var(--heading-font);
  font-size: 2em;
  text-align: center;
}

a, .locations-link {
  text-align: center;
  color: #08415c;
  font-size: 1.1em;
}

a:hover, .locations-link {
  color: orange;
  text-decoration: underline;
}

.provo-picture, .marysvale-picture, .green-picture, {
  border: 8px solid darkblue;

  box-shadow: 5px 5px 5px darkblue;
}

p {
  font-family: var(--paragraph-font);
  text-align: left;
  font-size: 16pt;
  
}


#content {
  max-width: 960px;
  margin: 0 auto;
  padding: 1em;
  
}
body {
  background-color: #00a5cf;
}
nav a {
  color: #08415c;
  font-size: 1.1em;
}
main {
  background-color: lightblue;
  margin: 10px;
}

a, .copy-right {
  font-family: var(--links-font);
  text-decoration: none;
  color: #08415c;
}
.copy-right {
  font-size: 12pt;
}

.home-left-img, .home-right-img {
  border: 8px solid darkblue;

  box-shadow: 5px 5px 5px darkblue;
}

/* action content*/

.banner-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.banner-box img {
  width: 100%;
  grid-column: 1/ -1;
  grid-row: 1;
}

.action{
  grid-column: 2;
  grid-row: 1;
  background-color: rgba(173, 216, 230, 0.5);
  margin: 1em 3em;
  padding: 1em;
  text-align: center;
  font-size: 1.2em;
  font-family: var(--links-font);
  color: darkblue;
}
.action button {
  line-height: 2em;
  width: 10em;
  background-color: red;
  color: white;
  border-radius: 8px;
  font-size: 1.2em;
  font-family: var(--links-font);
}


/*header content */

header {
  align-items: center;
  display: grid;
  grid-template-columns: 110px auto;
  background-color: #f9dc5c;
}


nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  margin: 0;
  text-align: center;
}

nav a:hover{
  color: red;
  text-decoration: underline;
}


/* main content */

.home-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  
  
}  

.home-headline-1 {
  grid-column: 1/4;
  grid-row: 1/2;
}

.home-paragraph-1 {
  grid-column: 2/4;
  grid-row: 2/4;
  text-align: left;
}

img {
  width: 100%;
  height: 100%
}

.home-right-img {
  grid-column: 4/6;
  grid-row: 1/3;
  box-sizing: border-box;
    
}

.home-left-img {
  grid-column: 1/3;
  grid-row: 4/6;
  
}

.home-headline-2 {
  grid-column: 3/6;
  grid-row: 4/5;
}

.home-paragraph-2 {
  grid-column: 4/6;
  grid-row: 5/7;
  text-align: left;
}

.home-paragraph-3, p {
  grid-column: 1/6;
  grid-row: 7/8;
  text-align: center;
}

/* footer content */

footer{
  display: grid;
  height: 55px;
  grid-template-columns: 80% 20%
      
}

.copy-right{
  grid-column:1/2;
  grid-row: 1/2;
  text-align: left;
}

div .social{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 10px;
}

@media screen and (max-width: 550px) {
  .home-grid, nav ul, .banner-box {
    display: block;
  }
}


/* Locations page */

.utah-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.utah-headline {
  grid-column: 1/-1;
  grid-row: 1/2;
}

.provo-heading {
  grid-column: 1/2;
  grid-row: 2/3
}

.provo-picture {
  grid-column: 1/2;
  grid-row: 3/4;
}

.provo-link {
  grid-column: 1/2;
  grid-row: 4/5
}

.marysvale-heading {
  grid-column: 2/3;
  grid-row: 2/3
}

.marysvale-picture {
  grid-column: 2/3;
  grid-row: 3/4;
}

.marysvale-link {
  grid-column: 2/3;
  grid-row: 4/5;
}

.green-heading {
  grid-column: 3/4;
  grid-row: 2/3
}

.green-picture {
  grid-column: 3/4;
  grid-row: 3/4;
}

.green-link {
  grid-column: 3/4;
  grid-row: 4/5;
}

.colorado-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.colorado-headline {
  grid-column: 1/-1;
  grid-row: 1/2;
}

.colorado-heading {
  grid-column: 1/2;
  grid-row: 2/3
}

.colorado-picture {
  grid-column: 1/2;
  grid-row: 3/4;
}

.colorado-link {
  grid-column: 1/2;
  grid-row: 4/5
}

.arkansas-heading {
  grid-column: 2/3;
  grid-row: 2/3
}

.arkansas-picture {
  grid-column: 2/3;
  grid-row: 3/4;
}

.arkansas-link {
  grid-column: 2/3;
  grid-row: 4/5;
}

.yampa-heading {
  grid-column: 3/4;
  grid-row: 2/3
}

.yampa-picture {
  grid-column: 3/4;
  grid-row: 3/4;
}

.yampa-link {
  grid-column: 3/4;
  grid-row: 4/5;
}



  